@import '../../style/style';

.indigo{
  background-color: red!important;
}
.footer{
  .footer-row-1 {
    padding: 50px 0px 100px 0px;
    background-image: $background-gradient;
    .title{
      color: white;
    }
    .footer-item {
      text-align: left;
      i{
        margin-right: 5px;
        color: white;
      }
      .text{
        font-size: 12px;
        color: white;
      }
    }
  }
}

.public-header{
  .el-menu{
    background-image: $background-gradient;
    .el-menu-item{
      color: white;
      &:hover{
        background-color: transparent!important;
        color: $active-link;
      }
      &.is-active{
        border-bottom: 5px solid $active-link;
        color: $active-link;
      }
    }
  }
  .logo{
    height: 40px;
    width: auto;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    z-index: 9;
  }
  .logout{
    margin-right: 230px;
    float: right;
    position: relative;
    top: -40px;
    &:hover{
      color: white;
    }
  }
}