@import '../../style/style';

.indigo{
  background-color: red!important;
}
.footer{
  .footer-row-1 {
    padding: 50px 0px 100px 0px;
    background-image: $background-gradient;
    .title{
      color: #e12d2d;
      font-size: 18px;
      font-weight: bold;
    }
    .footer-item {
      text-align: left;
      .footer-sub-item{
        position: relative;
        padding-left: 30px;
        i{
          position: absolute;
          left: 1px;
          top: 5px;
          margin-right: 5px;
          color: white;
          &.fa-map-marker{
            color: #e12d2d;
          }
          &.fa-phone{
            color: gold;
          }
          &.fa-envelope{
            color: #753a88;
          }
        }
        .text{
          font-size: 12px;
          color: white;
        }
      }
    }
  }
}

.public-header{
  .el-menu{
    background-image: $background-gradient;
    .el-menu-item{
      color: white;
      font-weight: bold;
      font-size: 16px;
      &:hover{
        background-color: transparent!important;
        color: $active-link;
        border-bottom-color: $active-link;
      }
      &.is-active{
        border-bottom: 5px solid $active-link;
        color: $active-link;
      }
    }
  }
  .logo{
    height: 40px;
    width: auto;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    z-index: 9;
  }
  .logout{
    margin-right: 230px;
    float: right;
    position: relative;
    top: -49px;
    background-color: darkorange;
    &:hover{
      background-color: rgba(darkorange, 0.8);
    }
  }
}
