@import '../../style/style';

.mycard {
  padding: 20px;
  .el-card{
    overflow: unset;
  }
  .el-card__header {
    background-image: $background-gradient;
    color: white;
    font-weight: bold;
    padding: 10px 0;
  }
  .label{
    margin-bottom: 5px;
    text-align: left;
    .required{
      margin-left: 10px;
      color: red;
    }
  }
}
.package{
  padding-top: 0;
}
.table-wrap{
  width: 100%;
  overflow: auto;
  position: relative;
  .cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.2);
  }
  table{
    min-width: 600px;
  }
}