.layout-content {
  &.private {
    min-height: 630px;
    padding: 50px 20px;
  }

  &.public {
    min-height: 550px;
  }
}
.login-name{
  transform: translateX(260px);
  margin-top: 10px;
  font-weight: 500;
}
