@import "./style/style";

.language-block{
  z-index: 9;
  float: right;
  top: 10px;
  margin-left: 30px;
}
.mycard {
  .el-card{
    overflow: unset;
  }
  .el-card__header {
    background-image: $background-gradient;
    color: white;
    font-weight: bold;
    padding: 10px 0;
  }
  .label{
    margin-bottom: 5px;
    text-align: left;
    .required{
      margin-left: 10px;
      color: red;
    }
  }
}
