@import "./style/style";

.language-block{
  z-index: 9;
  float: right;
  top: 10px;
  margin-left: 30px;
}
.mycard {
  .el-card{
    overflow: unset;
  }
  .el-card__header {
    background-image: $background-gradient;
    color: white;
    font-weight: bold;
    padding: 10px 0;
  }
  .label{
    margin-bottom: 5px;
    text-align: left;
    .required{
      margin-left: 10px;
      color: red;
    }
  }
}


//Autocomplete

.autocomplete-wrap{
  div{
    width: 100%;
  }
  input {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    box-sizing: border-box;
    color: #1f2d3d;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    &:focus{
      border: 1px solid $active-link;
    }
  }
  .item-dropdown{
    border-bottom: 1px solid rgba($border-color, 0.3);
    text-align: left;
    div{
      padding: 5px 15px;
    }
    .item-icon{
      position: relative;
      i{
        position: absolute;
        top: 10px;
        right: 10px;
        color: $active-link;
        &.fa-building{
          right: 8px;
        }
      }
    }
    &:last-of-type{
      border-bottom: none;
    }
    &--highlighted{
      background-color: rgba($active-link, 0.3);
    }
  }
}
.dropdown-autocomplete{
  position: absolute;
  z-index: 99;
  box-sizing: border-box;
  width: 100%;
  top: 105%;
  border-radius: 4px;
  padding: 10px 0;
  background: white;
  border: 1px solid rgba(#000, 0.3);
  max-height: 400px;
  overflow-y: auto;
  &--city{
    width: calc(300% + 60px)!important;
    max-height: 250px;
  }
}
