@import '../../style/style';

.booking-card {
  margin: 20px;
  padding: 0;
}

.search-input {
  margin-bottom: 1em;
  padding-right: 1em;
}

.booking-list {
  text-align: left;

  .page-size-select {
    width: 4.5em;
    margin: .5em;
  }
}

.shipment-detail-container {

  .el-dialog--small {
    width: 70%;
    top: 10%
  }

  .el-dialog__header {
    padding: 10px 20px 10px;
    background: $background-gradient;

    .el-dialog__title {
      color: white;
    }
  }

  tr {
    border-bottom: .1pt solid gainsboro;
  }

  .shipment-detail {
    margin-bottom: 36px;

    .title-block {
      background: $secondary-background;
    }
  }

  .package-info {
    margin-bottom: 16px;

    .package-info-header {
      font-weight: bold;
    }

    .package-info-table {
      margin-bottom: 8px;
    }
  }

  .package-info-extend {
    margin-left: 16px;

    .address-table {
      margin-bottom: 16px;
    }
  }

  .shipment-detail-table {
    width: 100%;
  }

  .quote-detail-table {
    margin-bottom: 0.5rem;
  }

  .quote-detail-alert {
    padding-left: 0.75rem;
  }

  .table td, .table th {
    padding: 0.5rem 0.75rem;
  }
}

